<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,862},{151,20}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{151,20}}</string>
                <key>sourceSize</key>
                <string>{165,28}</string>
            </dict>
            <key>bestbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,104},{250,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{250,26}}</string>
                <key>sourceSize</key>
                <string>{256,28}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,100}</string>
            </dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,821},{200,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,143}}</string>
                <key>sourceSize</key>
                <string>{200,143}</string>
            </dict>
            <key>cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{166,92}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{166,92}}</string>
                <key>sourceSize</key>
                <string>{186,120}</string>
            </dict>
            <key>excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,576},{284,94}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{284,94}}</string>
                <key>sourceSize</key>
                <string>{310,120}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,164},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>fantastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,576},{260,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{260,94}}</string>
                <key>sourceSize</key>
                <string>{294,104}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{335,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,75}}</string>
                <key>sourceSize</key>
                <string>{335,75}</string>
            </dict>
            <key>good.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,838},{168,96}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{168,96}}</string>
                <key>sourceSize</key>
                <string>{186,120}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,300},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,466},{74,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,384},{80,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{10,10}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{10,10}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,104},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,576},{259,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,59}}</string>
                <key>sourceSize</key>
                <string>{259,59}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,413},{145,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{145,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,104},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,542},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,132},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>rate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,862},{145,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{145,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,104},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>resume2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,560},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>save.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,152},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,838},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{83,20}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>scorebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,384},{225,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{225,26}}</string>
                <key>sourceSize</key>
                <string>{235,28}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,104},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,912},{20,28}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,934},{84,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{84,20}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>stagebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,104},{44,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,26}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>star1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,104},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,862},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,102},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>target.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,913},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{104,20}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>targetbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,132},{226,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{226,26}}</string>
                <key>sourceSize</key>
                <string>{234,28}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{422,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,288}}</string>
                <key>sourceSize</key>
                <string>{422,288}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,100}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{108,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{108,72}}</string>
                <key>sourceSize</key>
                <string>{200,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batch.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9747cf7baf75163e7147d28ce01d38$</string>
            <key>textureFileName</key>
            <string>batch.pvr.ccz</string>
        </dict>
    </dict>
</plist>
