<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avata_bear_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_bear_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_duck_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_duck_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_fox_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_fox_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_mouse_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_mouse_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_panda_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avata_panda_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avatar_rabbit_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avatar_rabbit_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avatar_tiger_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>avatar_tiger_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{720,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1200}}</string>
                <key>sourceSize</key>
                <string>{720,1200}</string>
            </dict>
            <key>challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1278},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>continue_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1536},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1610},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1684},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1814},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1814},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1944},{450,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,72}}</string>
                <key>sourceSize</key>
                <string>{450,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batch_cn_big.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b921e3501d7d80d32ad60dbd7754dfa2:aa3603e38b1fc3dae9924f0e69946593:110fadd8ff662bf260a0dcf6c46f23ff$</string>
            <key>textureFileName</key>
            <string>batch_cn_big.png</string>
        </dict>
    </dict>
</plist>
